<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" id="main-content"{% if page.search_exclude %} data-pagefind-ignore="all"{% endif %}>
      {%- if page.layout == 'home' -%}
        {{ content }}
      {%- else -%}
      <div class="wrapper">
        {{ content }}
      </div>
      {%- endif -%}
    </main>

    {%- include footer.html -%}

  </body>

</html>
